<div class="row py-5">
    <div class="col-md-12 info_box">
        <div class="table-responsive">
            <table id="tabla_lista_estudiantes" class="table caption-top table-striped table-hover table-borderedless border-dark">
                <caption>Lista de estudiantes registrados:</caption>
                <thead>
                    <tr>
                        <th col-index=1 scope="col">#num</th>
                        <th col-index=2 scope="col">Nombre estudiante</th>
                        <th col-index=3 scope="col">N°Matrícula</th>
                        <th col-index=4 scope="col">Convocatoria</th>
                        <th col-index=5 scope="col">Estado</th>
                        <th col-index=6 scope="col">Programa</th>
                        <th col-index=7 scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <% @applies.each do |apply| %>
                        <tr>
                            <th>#<%= apply.id %></th>
                            <td><%= apply.user_id.name %></td>
                            <td><%= apply.user_id.enrollment %></td>
                            <td><%= apply.announcement_id.name %></td>
                            <td><%= apply.id %></td>
                            <td><%= apply.status %></td>
                            <td><%= apply.announcement_id.program_id.name %></td>
                            <td>
                                <a href='#' class='btn btn-primary btn-circle' target="_blank" role='button'><i class="fa-solid fa-file"></i></a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
    </div>
</div>